<div style="background-color: rgb(255, 255, 255)"
    class="min-vh-100 d-flex flex-column align-items-center justify-content-center position-relative ">
    <%- include('./partials/header.ejs')%>
        <%- body %>
</div>